modules/mm-api/.classpath
modules/mm-api/.project
modules/mm-api/.settings/
modules/mm-api/target/
modules/mm-common/.classpath
modules/mm-common/.project
modules/mm-common/.settings/
modules/mm-common/target/
modules/mm-conductor/.classpath
modules/mm-conductor/.project
modules/mm-conductor/.settings/
modules/mm-conductor/target/
modules/mm-conductor/src/main/webapp/META-INF/MANIFEST.MF
mm-distribution/target/
mm-distribution/.classpath
mm-distribution/.project
mm-distribution/.settings/
modules/mm-hadoop-core/target
modules/mm-hadoop-core/.classpath
modules/mm-hadoop-core/.project
modules/mm-hadoop-core/.settings
modules/mm-filesystem/.classpath
modules/mm-filesystem/.project
modules/mm-filesystem/.settings/
modules/mm-filesystem/target/
modules/mm-aws/.classpath
modules/mm-aws/.project
modules/mm-aws/.settings/
modules/mm-aws/target/
modules/mm-aws/src/test/resources/AwsCredentials.properties
