/****************
 Wizard Steps
****************/
.wizardSteps {
	width: 100%;
	margin-bottom: 20px
}

.wizardSteps div {
	height: 30px;
	float: left;
	font-weight: bold;
	line-height: 26px;
}

.wizardSteps .inactive {
	background-image: url(/static/images/wizard/bgInactive.png);
	background-repeat: repeat-x;
	color: #AAA;
	padding: 0 10px 0 10px;
}

.wizardSteps .active {
	background-image: url(/static/images/wizard/bgActive.png);
	background-repeat: repeat-x;
	color: #FFF;
	padding: 0 10px 0 10px;
}

.wizardSteps .inactiveActive {
	background-image: url(/static/images/wizard/inactiveActive.png);
	background-repeat: no-repeat;
	width: 15px
}

.wizardSteps .activeInactive {
	background-image: url(/static/images/wizard/activeInactive.png);
	background-repeat: no-repeat;
	width: 15px
}

.wizardSteps .inactiveInactive {
	background-image: url(/static/images/wizard/inactiveInactive.png);
	background-repeat: no-repeat;
	width: 15px
}

.wizardSteps .inactiveEnd {
	background-image: url(/static/images/wizard/inactiveEnd.png);
	background-repeat: no-repeat;
	width: 15px
}

.wizardSteps .activeEnd {
	background-image: url(/static/images/wizard/activeEnd.png);
	background-repeat: no-repeat;
	width: 15px
}

/****************
 Form Grid (undecorated data summary listings)
****************/
fieldset {
	margin-bottom: 15px;
	margin: 0;
	border: none;
	padding: 0;
	width:700px;
	display:block; 
}

dl {
	width: 700px;
	overflow: auto;
	margin: 0;
}

dt {
	float: left;
	width: 130px;
	text-align: right;
	margin: 0;
	font-weight: bold;
	padding: 5px 5px 5px 5px
}

dd {
	width: 550px;
	float: left;
	padding: 5px 5px 5px 5px;
	margin: 0;
	overflow: hidden;
}

/****************
 Form Grid (decorated)
****************/
form {
	padding: 0;
	margin: 0
}

.decorated fieldset {
	background-color:#f2f2f2;
	padding-left:10px
}

legend {
	font-weight: bold;
	color: #AAA;
	font-size: 12px;
}

.decorated dl {
	background: #f2f2f2;
	border-bottom: 1px solid #FFF;
}

.decorated dt {
	width: 140px;
	padding: 10px 10px 10px 10px;
}

.decorated dd {
	width: 290px;
	padding: 5px 5px 5px 5px;
}

.decorated dd.help {
	font-size: 10px; 
	color: #959595; 
	width: 220px;
	padding: 15px 10px 10px 10px;
	margin: 0;
}

.error {
	color: #ED171F;
	line-height: 30px;
}

div.focused {
	background-color: #e6e6e6;
	padding: 5px;
	font-size: 10px;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.unfocused {
	background: transparent;
	padding: 5px;
	font-size: 10px;
	color: #b9b9b9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/****************
 Input Elements
****************/
input[type='text'],input[type='password'] {
	height: 20px;
}

input[type='text']:focus,input[type='password']:focus,textarea:focus,select:focus	{
	background: #FFF;
}

textarea,input[type='text'],input[type='password'],select {
	width: 210px;
	border: 1px solid #CCC;
	margin: 0 5px 0 0;
	background-color: #FCFCFC;
	padding: 0 0 0 5px;
}
select {
	width: 210px;
	border: 1px solid #CCC;
	margin: 0 5px 0 0;
	background-color: #FCFCFC;
}

div.textWrapper {
	padding:5px;
}

.selectFileButton {
	margin:-10px;
}

/****************
 Advanced Group Legend (expandable)
****************/
.expandable {
	font-weight: bold;
	color: #AAA;
	font-size: 12px;
	cursor:pointer;
	text-decoration: underline;
}