#mainNavi ul {
	height: 38px;
	position:relative;
	left:210px;
	top: 32px;
	display:block;
	float:left;
}

#mainNavi li {
	float:left;
	width: 140px;
	margin: 5px 1px 0 0;
	display: inline;
	padding: 0;
	text-align: center;
	background-image: url(../images/mainNavi/inactiveBg.jpg);
	background-repeat: repeat-x; 
}

#mainNavi li a{
	display:block;
	height:100%;
}


#mainNavi li .tabL{
	background-image: url(../images/mainNavi/inactiveLeft.jpg);
	width:6px;
	height:33px;
	float:left;
}

#mainNavi li .tabR{
	background-image: url(../images/mainNavi/inactiveRight.jpg);
	width:6px;
	height:33px;
	float:right;
}

#mainNavi li.active {
	margin: 0px 1px 0 0;
	background-image: url(../images/mainNavi/activeBg.jpg);
}

#mainNavi li.active .tabL{
	background-image: url(../images/mainNavi/activeLeft.jpg);
	width:6px;
	height:38px;
	float:left;
}

#mainNavi li.active .tabR{
	background-image: url(../images/mainNavi/activeRight.jpg);
	width:6px;
	height:38px;
	float:right;
}

#mainNavi a {
	font-weight:bold;
	font-size: 12px;
	line-height: 33px;
	text-decoration: none;
}

#mainNavi li.active a{
	line-height: 45px;
	font-size: 14px;
}

#mainNavi ul, #subNavi ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#subNavi li {
	margin: 0;
	padding: 0;
	width:210px;
	height:33px;
	background-image: url(../images/subNavi/inactiveBg.jpg);
	background-repeat: repeat-x;
}

#subNavi li a{
	display:block;
	height:100%;
}

#subNavi li.active {
	background-image: url(../images/subNavi/activeBg.jpg);
	background-repeat: repeat-x;
}

#subNavi li.active div {
	background-image: url(../images/subNavi/arrow.png);
	background-repeat:no-repeat;
	background-position: 0px 14px;
	width:15px;
	height:33px;
	float: right;
}

#subNavi li a {
	text-decoration: none;
	font-size: 12px;
	line-height: 33px;
	margin-left:20px;
	font-weight: bold;
}

#subNavi li.active a {
	color:#FFF;
}

/** License **/
div.licenseWarning {position:absolute; z-index:2; background: red; color:#FFF; font-size: xx-small; width: 100%}
div.licenseWarning span {margin:0 20px 2px 20px; color:#FFF;}
div.licenseWarning a {color:#FFF}

#systemclock{ margin: 10px 20px 0 0; float:right; color: #002c50;}

/** Contains system clock and logout button **/
.mainNaviRight{float: right;}
