/****************
/** inactive standard button
****************/
button {
	cursor: pointer;
	font-weight: bold;
    padding: 6px 14px;
	background: -moz-linear-gradient(center top , #bfbfbf, #979797) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#bfbfbf), to(#979797));
    /* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bfbfbf,endColorstr=#979797);
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
	color: #fff;
	/*text-shadow: rgba(0, 0, 0, .5) 0px -1px 0px;*/
}

/****************
/** pre-selected active, default button. class 'default' is used by YUI'
****************/
button.active,button.default {
	background: -moz-linear-gradient(center top , #4addf6, #00a0db) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#4addf6), to(#00a0db));
    /* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4addf6,endColorstr=#00a0db);
	zoom: 1;
    border: 1px solid #4addf6;
    -webkit-box-shadow: inset 0 0 10px rgba(10, 89, 180, 0.3);
}

/** focused and mouseDown state **/
button:active,button:focus {
/*	background: url(../images/button-sprite.png) no-repeat right -151px;*/
	background: -moz-linear-gradient(center top , #0a59b4, #0090d4) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#0a59b4), to(#0090d4));
    /* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0a59b4,endColorstr=#0090d4);
    border: 1px solid #4addf6;
}

button[disabled] span {
	color: #ddd;
}

/****************
 Data Table Button Bar
****************/
.buttonBar {
	margin: 20px 0 3px 0;
}

/****************
/** IE fixes
****************/
button {
	width: auto;
	overflow: visible;
	/*height: 27px;*/
}

*+html button span { /**margin-top:1px;**/
	
}

/****************
/** Firefox fixes
****************/
button:focus::-moz-focus-inner {
	border-color: transparent ! important;
}

button::-moz-focus-inner {
	border: 0 none;
	padding: 0;
	margin: 0
}  /** fix 1px span offset **/
/*** 
 Added support to render href links as buttons
*/
div.button {
	border: 0 none;
	outline: 0 none; /** Safari Border **/
	cursor: pointer;
	font-weight: bold;
	padding: 0 15px 0 0;
	margin: 1px;
	text-align: center;
	background: url(../images/button-sprite.png) no-repeat right -91px;
	float: left;
}

div.button span {
	position: relative;
	display: block;
	white-space: nowrap;
	padding: 0 0 0 15px;
	height: 27px;
	line-height: 27px;
	background: url(../images/button-sprite.png) no-repeat left -1px;
	color: #fff;
	border: 0 none;
	text-shadow: rgba(0, 0, 0, .5) 0px -1px 0px;
}

div.button a {
	text-decoration: none;
}

/** focused and mouseDown state **/
div.button:active,div.button:focus {
	background: url(../images/button-sprite.png) no-repeat right -151px;
}

div.button:active span,div.button:focus span {
	background: url(../images/button-sprite.png) no-repeat left -61px;
}