/** Flip Effect */
li.flippable {
	perspective: 400px;
	transform-style: preserve-3d;
	float: left;
}

li.flippable .front,li.flippable .back {
	display: block;
	backface-visibility: hidden;
}

li.flippable .back {
	position: absolute;
	top: 0;
	transform: rotateY(-180deg);
	background: url("ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png") repeat-x scroll 50% top #EEEEEE;
}

.transition-rotate {
	transition: transform 1s ease-in-out;
}

li.flippable .front {
	transform: rotateY(0deg);
}

img.in-process {
	display: none;
}
/*.ui-helper-clearfix:AFTER {
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	position: relative;
}*/