#mainNavi {
	float: left;
	height: 70px;
	line-height: normal;
	margin-left: 210px;
}

#mainNavi ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	top: 32px;
}

#mainNavi li {
	float: left;
	margin: 0 1px 0 1px;
	padding: 4px 30px 0 30px;
	height: 32px;
	background: -moz-linear-gradient(center top, #f0f0f0, #cccccc) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#cccccc) );
	border: 1px solid #cccccc;
	border-radius: 8px 8px 0 0;
	box-shadow: inset 2px 8px 10px #DFDFDF;
}

#mainNavi a {
/*	display: block;*/
	font-weight: bold;
	font-size: 12px;
	line-height: 28px;
	text-decoration: none;
}

#mainNavi ul li a {
/*	padding-top: 4px;*/
}

#mainNavi li.current {
	margin: -4px 0 0 0;
	padding-top: 6px;
    padding-bottom: 4px;
	height: 31px;
	background: #fff;
	box-shadow: inset 0px 0px 0px #ffffff;
	border-bottom: 0px;
}

#mainNavi li.current:hover {
	background: #eee;
}

#mainNavi ul li.current a {
/*	padding-top: 4px;*/
	font-size: 13px; //
	text-decoration: underline;
	color: #0191D0;
}

#mainNavi li:hover {
	background: #CCCCCC;
}

#loginNavi {
	float: right;
	margin: 40px 30px 0 30px;
	font-weight: bold;
}

#subNavi {
	margin-top: 20px;
	margin-left: 25px;
}

#subNavi ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#subNavi li {
	margin: 1px 0 1px 0;
	padding: 0; //
	width: 190px;
	height: 33px; //
	background: #dfdfdf;
	background: -moz-linear-gradient(center top, #f0f0f0, #cccccc) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#cccccc) );
	border: 1px solid #CCCCCC;
	border-left: 0;
	border-radius: 8px 0 0 8px;
	box-shadow: 2px 8px 10px #DFDFDF inset;
}

#subNavi li a {
	text-decoration: none;
	font-size: 12px;
	line-height: 33px;
	margin-left: 20px;
	font-weight: bold;
}

#subNavi li.current { //
	margin: -4px 0 0 0; //
	padding-top: 2px; //
	height: 39px;
	background: white;
	box-shadow: inset 0px 0px 0px #ffffff;
	border-right: 0px;
}

#subNavi ul li.current a {
	padding-top: 4px;
	padding-left: 8px; //
	font-size: 13px; //
	text-decoration: underline;
	color: #0191D0;
}

#subNavi li:hover {
	background: #CCCCCC; //
	background: -moz-linear-gradient(center top, #F0F0F0, #CCCCCC) repeat scroll 0 0 transparent; //
	box-shadow: 2px 8px 10px #DFDFDF inset;
}

.error_hint {
    float: right;
    padding: 0 0 0 10px;	
}