/***************
tip for dropdown menus
****************/
.dropdown-tip:before {
	position: absolute;
	top: -7px;
	left: 9px;
	content: '';
	border-left: 7px solid rgba(0, 0, 0, 0);
	border-right: 7px solid rgba(0, 0, 0, 0);
	border-bottom: 7px solid rgb(204, 204, 204);
	border-bottom-color: rgba(0, 0, 0, 0.2);
	display: inline-block;
}

.dropdown-menu {
	margin-top: 6px;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0px auto -60px;
	padding: 0px 0px 60px;
}

/***************
media gallery
****************/
#gallery {
	float: left;
	min-height: 12em;
}

* html #gallery {
	height: 12em;
} /* IE6 */
.gallery.custom-state-active {
	background: #eee;
}

.gallery li {
	position: relative;
	float: left;
	margin: 0 0.4em 0.4em 0;
	text-align: center;
	cursor: move;
	max-width: 130px;
}

.gallery li h5 {
	margin: 0 0 0.4em;
	cursor: move;
}

.gallery li a {
	float: left;
}

.gallery li img {
	float: right;
}

.gallery li .image-action {
	cursor: pointer;
}

.gallery p {
	margin: 0;
	clear: both;
}

/*.gallery li img { cursor: move; }*/
#album {
	min-height: 10em;
}

* html #album {
	height: 10em;
} /* IE6 */
#album h4 {
	line-height: 16px;
	margin: 0 0 0.4em;
}

#album h4 .ui-icon {
	float: left;
}

#album h5 {
	display: none;
}

.metadata {
	font-size: 0.8em;
}

/****************************
dl elements
****************************/
/*fieldset {
    margin-bottom: 15px;
    margin: 0;
    border: none;
    padding: 0;
    width: 700px;
    display: block;
}*/

dl {
    width: 700px;
    overflow: auto;
    margin: 0;
}

dt {
    float: left;
    width: 130px;
    text-align: right;
    margin: 0;
    font-weight: bold;
    padding-right: 5px
}

dd {
    width: 550px;
    float: left;
    padding-right: 5px;
    margin: 0;
    overflow: hidden;
}

dl.metadata {
    width: auto;
}

dl.metadata dt {
    width: auto;
    padding: 2px;
    font-size: 8px;
}

dl.metadata dd {
    width: auto;
    padding: 2px;
    font-size: 8px;
}

/****************
 Forms
****************/
form {
    padding: 0;
    margin: 0
}

/*.decorated fieldset {
    background-color: #f2f2f2;
    padding-left: 10px
}*/

legend {
    font-weight: bold;
    color: #AAA;
    font-size: 12px;
}

.decorated dl {
    background: #f2f2f2;
    border-bottom: 1px solid #FFF;
}

.decorated dt {
    width: 140px;
    padding: 10px 10px 10px 10px;
}

.decorated dd {
    width: 290px;
    padding: 5px 5px 5px 5px;
}

.decorated dd.help {
    font-size: 10px;
    color: #959595;
    width: 220px;
    padding: 15px 10px 10px 10px;
    margin: 0;
}

.error {
    color: #ED171F;
    line-height: 30px;
}

/**************
slider on media search page
***************/
#slider-select-year {
    width: 200px;
}
